html {margin: 0}
body {
  background-color: #007006;
  background-image: url("./img/felt.png");
  color: #f7f7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}

/* Look into 3d card flip animations for flipping the dealer's card*/
/* Look into transitions for animating the cards in */
.card {
  width: 175px;
  height: 243px;
}

.cardFlip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardFlipFace {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  margin: 2.5px 4px;
  width: 175px;
  height: 243px;
  border-radius: 10px;
}

.cardFace {
  margin: 2.5px 4px;
  width: 175px;
  height: 243px;
  border-radius: 10px;
}

.cardFlipFace.cardFace--back {
  margin: 0;
}

.cardFlip.isFlipped {
  transform: rotateY(180deg) scaleX(-1);
}

.cardFace--back {
  width: 172px;
  height: 241px;
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
  background-image: url('./img/cardBack.png');
  background-size: 150px 218px;
  background-repeat: no-repeat;
  background-position: center;
}

.cardArea {
  display: flex;
  position: relative;
  height: 250px;
  transition: 1s transform
}

.cardArea:after {
  top: 0;
  left: calc(50% - 90px);
  position: absolute;
  width: 180px;
  height: 250px;
  border: solid white 3px;
  border-radius: 5px;
  content: '';
  z-index: -1;
}

.hidden {
  display: none;
}

.msg {
  padding-bottom: 50px;
}

.scene {
  width: 175px;
  height: 243px;
  perspective: 600;
  margin: 2.5px 4px;
}

.scene .cardFace {
  margin: 0;
}

.dealerOffScreen {
  transform: translateY(-50vh);
}

.playerOffScreen {
  transform: translateY(+50vh);
}

#mainContent {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dealerMetaData {
  display: flex;
  justify-content: center;
}

#dealerArea {
  padding-bottom: 75px;
}

#playerMetaData {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#playerMetaData p {
  font-size: 2em;
  padding-right: 30px;
}

.button {
  font-size: 20px;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 3px 5px #000;
  border-radius: 5px;
  border: none;
}

.hidden#endMsgContainer {
  display: none;
}

#endMsgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(96, 127, 96, 0.5)
}

#gameEndMessage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border: solid black 2px;
}

#resetButton {
  background-color: #68d871;
}